{% extends "base.html" %}

{% block content %}

<h1 class="staff1">Here is a list of our staff currently working at the company!</h1>
<h2 class="staff2">Our Staff</h2>


{% for worker in all_workers %}

<div class="workers">
    <table>
        <tr>

            <td>Name: {{worker.name}}</td>
        </tr>
        <tr>
            <td>Age: {{worker.age}}</td>
        </tr>
        <tr>
            <td>Date of Birth: {{worker.dob}}</td>
        </tr>

        
    </table>

</div>
{% endfor %}

{% endblock %}