.body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; font-size: 16px;
    background: url('/static/images/gamebackground.jpg');
    background-color: rgb(43, 36, 77);
    background-size: cover;
}

body {
    background-color: #14171a;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 10px;
  }

.game-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    text-align: center;
    color: white;
    background-color: grey;
    border: 4mm ridge;
    border-image: linear-gradient(red, blue) 30;
}

.game-stock-title {
    text-align: center;
    color: white;
    background-color: rgb(33, 26, 26);
    border: 2mm ridge;
}

.form-class {
    margin: 0;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    color: #f2f2f2;
}


.welcome-to {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #454546;
    padding: 20px 20px 20px 40px;
    border: 4mm ridge;
    
}

.about {
    width: 1280px;
    height: 520px;
    margin: 10% auto;
    border: #ccc solid;
    border-image: linear-gradient(red, blue) 30;
    box-shadow: 10px 5px 5px red;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    display: flex;
    text-align: center;
}

.menu {
    display: flex;
    padding: 10px;
    background-color: grey;
    color: white;
    list-style: none;
    position: right;
    justify-content: center;
    border: 4mm ridge;
}
  
.menu li a {
    text-decoration: none;
    padding: 20px 20px 20px 40px;
    font-size: 25px;
}
  
.menu li a:visited {
    color: white;
}

table {
    border: 2px solid; color: white;
    width: 50%;
    padding: 15px;
    text-align: center;
}

td {
    padding: 10px;
}

.workers {
    margin-left: auto;
    margin-right: auto;
  }

  
.workers td, .workers th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
.workers tr:nth-child(even){
    background-color: #525252;
}
  
  
.workers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: gray;
    color: white;
    justify-content: center;
}

.staff1 {
    text-align: center;
    color: white;
    background-color: grey;
    border: 4mm ridge;
}
