body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif; font-size: 16px;
    background: url('/static/images/gamebackground.jpg');
    background-color: rgb(43, 36, 77);
    background-size: cover;
}

.welcome-to {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #454546;
    padding: 20px 20px 20px 40px;
    
}

.about {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: white;
    display: flex;
    text-align: center;
    border: solid;
}

.menu {
    display: flex;
    padding: 10px;
    background-color: grey;
    color: white;
    list-style: none;
    position: right;
    justify-content: center;
}
  
.menu li a {
    text-decoration: none;
    padding: 20px 20px 20px 40px;
    font-size: 25px;
}
  
.menu li a:visited {
    color: white;
}