{% extends "base.html" %}

{% block content %}

<form action="/games/{{game.id}}" method="POST">
    <table>
        <tr>
            <td>Name :</td>
            <td><label for="name"></label>
                <input type="text"
                    id="name"
                    name="name"
                    value="{{game.name}}"
                    required></td>
        </tr>
    
        <tr>
            <td>Price :</td> 
            <td><label for="price"></label>
                <input type="number" 
                    step="0.01"
                    name="price"
                    id="price"
                    value="{{game.price}}"
                    required></td>
        </tr>
    
        <tr>
            <td>Buying Cost :</td> 
            <td><label for="buying_cost"></label>
                <input type="number" 
                    step="0.01"
                    name="buying_cost"
                    id="buying_cost"
                    value="{{game.buying_cost}}"
                    required></td>
        </tr>
    
        <tr>
        <td>studio :</td> 
            <td><label for="studio_id"></label>
                <select name="studio_id" id="studio_id">
                    {% for studio in studio %}
                        <option value="{{studio.id}}"
                    {% if game.studio.id == studio.id %} selected="selected"{% endif %}>
                        {{studio.name}}
                        </option>
                        {% endfor %}
            </select></td>
        </tr>
    
        <tr>
        <td>Genre :</td> 
            <td><label for="genre"></label>
                <input type="text"
                    id="genre"
                    name="genre"
                    value="{{game.genre}}"
                    required></td>
        </tr>
           
        <td>Stock :</td> 
            <td><label for="stock"></label>
                <input type="number" 
                    name="stock"
                    id="stock"
                    min="1"
                    step="1"
                    value="{{game.stock}}"
                    required></td>
        </tr>
    
        <tr>
            <td>Worker :</td> 
                <td><label for="worker_id"></label>
                    <select name="worker_id" id="worker_id">
                        {% for worker in worker %}
                            <option value="{{worker.id}}"
                        {% if game.worker.id == worker.id %} selected="selected"{% endif %}>
                            {{worker.name}}
                    {% endfor %}
                </select></td>
            </tr>
        </table>
        <br>
        <button class="submit-button" type="submit">Save Changes</button>
</form>

{% endblock %}