{% extends "base.html" %}

{% block content %}
<a class="add-game" href="/games/new">Add New Game to Stock List</a>

{% for game in all_games %}

<hr>

<div class="game-content">
    <table class="gl-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
            <th>Price</th>
            <th>Buying Cost</th>
            <th>Studio</th>
            <th>Stock</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td> {{ game.name }} </td>
            <td>{{ game.genre }}</td>
            <td>£{{ '%0.2f'| format(game.price) }}</td>
            <td>£{{ '%0.2f'| format(game.buying_cost) }}</td>
            <td>{{ game.studio.name }}</td>
        {% if game.stock >= 3 %}
            <td>{{ game.stock }}</td>
        {% elif game.stock == 0 %}
            <td>Out of Stock </td>
        {% elif game.stock < 3 %}
            <td>Low Stock</td>
        {% endif %}
        </tr>

        <tbody>
    </table>
</div>
<a class="view-id" href="/games/{{game.id}}">View More Info</a>
<form class="delete-form" action="/games/{{game.id}}/delete" method="POST">
    <button class="delete-button">DELETE</button>
</form>

{% endfor %}

{% endblock %}