{% extends "base.html" %}

{% block content %}
<section id="game-list">
    <p>Game Name: {{game.name}}</p>
    <p>Studio: {{game.studio.name}}</p>
    <p>Genre: {{game.genre}}</p>
    <p>Price: £{{ '%0.2f'| format(game.price) }} </p>
    <p>Buying Cost: £{{ '%0.2f'| format(game.buying_cost) }} </p>
    <p>Sold by: {{game.worker.name}}</p>

    {% if game.stock >= 3 %}
    <p>Stock = {{ game.stock }}</p>
    {% elif game.stock == 0 %}
    <p>Out of Stock </p>
    {% elif game.stock < 3 %}
    <p>Stock = {{ game.stock }} Low Stock</p>
    {% endif %}

    <div class=buttons-edit-delete>
        <form class="edit-game" action="/games/{{game.id}}/edit">
            <button class="edit-button">Edit Info</button>
        </form>
        <form class="delete-game" action="/games/{{game.id}}/delete" method="POST">
            <button class="delete-button">Delete</button>
        </form>
    </div>


</section>


{% endblock %}