<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='buttons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='games.css') }}">
    <title>Game Fusion</title>
</head>

<body>
    <header>
        <div class="container">
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/games">Games</a></li>
                <li><a href="/workers/staff">Staff</a></li>
            </ul>
        </nav>
        </div>
    </header>
    <section id="content">
        {% block content %}

        {% endblock content %}
    </section>
</body>

</html>