<!-- <section id="game-list">
    <p>Game Name: {{ game.name }} </p>
    <p>Genre: {{ game.genre }} </p>
    <p>Price: £{{ '%0.2f'| format(game.price) }} </p>
    <p>Buying Cost: £{{ '%0.2f'| format(game.buying_cost) }} </p>
    <p>Studio: {{game.studio.name}}</p>

    {% if game.stock >= 3 %}
    <p>Stock = {{ game.stock }}</p>
    {% elif game.stock == 0 %}
    <p>Out of Stock </p>
    {% elif game.stock < 3 %}
    <p>Stock = {{ game.stock }} Low Stock</p>
    {% endif %}
    <a href="/games/{{game.id}}">View More Info</a>

    <form class="delete-form" action="/games/{{game.id}}/delete" method="POST">
        <button class="delete-button">DELETE</button>
    </form>
    <hr>
</section> -->







<!-- <form class="form-list" action="/games" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text"
                id="name"
                name="name"
                placeholder="Game Name"
                required
                autofocus>
    </div>

    <div>
        <label for="price">Price</label>
        <input type="number"
        step="0.01"
        name="price"
        id="price"
        placeholder="Selling Price"
        required>
    </div>

    <div>
        <label for="buying_cost">Buying Cost</label>
        <input type="number"
        step="0.01"
        name="buying_cost"
        id="buying_cost"
        placeholder="Buying Cost"
        required>
    </div>

    <div>
        <label for="studio_id">Studio</label>
        <select name="studio_id" id="studio_id">
            <option value="">Studio List</option>
            {% for studio in studios|sort(attribute="name") %}
                <option value="{{ studio.id }}">{{ studio.name }}</option>
            {% endfor %}
        </select>

    </div>

    <div>
        <label for="genre">Genre</label>
        <input type="text"
        name="genre"
        id= "genre"
        placeholder="Genre"
        required>
    </div>

    <div>
        <label for="stock">Stock</label>
        <input type="number"
        name="stock"
        id="stock"
        min="1"
        value="1"
        step="1"
        placeholder="Stock Count"
        required>
    </div>

    <div>
        <label for="worker_id">Worker stock check</label>
        <select name="worker_id" id="worker_id">
            <option value="">Worker List</option>
            {% for worker in workers|sort(attribute="name") %}
                <option value="{{ worker.id }}">{{ worker.name }}</option>
            {% endfor %}
        </select>

    </div>

    <button class="add-button" type="submit">Add Game</button>

</form> -->