{% extends "base.html" %}

{% block content %} 
<h1 class="welcome-to">Welcome to Game Fusion app</h1>
<p class="about">We are a very small gaming store that has just started out in the industry, currently our stock is very limited but we are doing our best to secure more gaming stock in the future.
<br>
<br>
This system is designed to look at our range of stock that we currently have. If one of our workers sells a game from our store we can edit the database to decrease the stock number, if we have low stock the system will alert that we are low in stock of said game. It will also show us if we have no stock.
<br>
<br>
We can edit our system if we get more of the product in stock as well as adding new products into our databases.
<br>
<br>
Too view the list of games click on the 'Games' tab above. Or if you want to see the staff currently working then click on the 'staff' tab.

</p>
<body class="body"></body>

</div>
{% endblock content %}